div {
  display: flex;
  align-items: center;
  justify-content: start;
}

input[type="checkbox"] {
  margin-right: 10px;
  flex-shrink: 0;
}

p {
  margin: 0;
  line-height: 1.5;
  flex-grow: 1;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

:host {
  display: block;
}
